- function monthInWord(num) { var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; return monthNames[num] }

article.blog-post
  header.clearfix
    h2
      a.title(href=post.url) #{post.title}
    time #{monthInWord(post.date.getMonth())} #{post.date.getDate()}, #{post.date.getFullYear()}
    - if (post.authorLink === '')
      a.author.no-link #{post.authorName}
    - else
      a.author(href=post.authorLink, target='_blank')
        img(src=post.authorImage) 
        | #{post.authorName}

    a.comments-count(href=post.url + '#disqus_thread' , data-disqus-identifier=post.slug)

  section.body
    != post.content
    br
    br
    #disqus_thread
    script
      var disqus_identifier = '!{post.slug}';
    script(src='/js/disqus.js')
    noscript Please enable JavaScript to view comments

