!!! 5
html(lang='en')
  head
    //- Output page title
    - if (typeof post !== "undefined" && post.title !== "undefined")
      title= post.title
    - else if (typeof tag !== "undefined")
      title= capitalize(tag) + ' | YP Engineering'
    - else if (typeof category !== "undefined")
      title= capitalize(category) + ' | YP Engineering'
    - else if (typeof title !== "undefined" )
      title= title
    - else
      title= 'Home | YP Engineering'

    meta(name='description', content='Yellow Pages Engineering Website')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1')
    link(rel='shortcut icon', href='/img/favicon.png')

    link(rel='stylesheet', type='text/css', href='/vendor/twitter-bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/twitter-bootstrap/css/docs.css')

    - if (settings.env == 'development')
      link(rel='stylesheet', href='/css/font-awesome.css')
      link(rel='stylesheet', href='/css/engineering.css')
      link(rel='stylesheet', href='/css/prettify.css')
    - else
      link(rel='stylesheet', href='/css/production.css')

    //if lt IE 9
      script
        // Help IE < 9 understand HTML5 tags
        (function() {
        var html5_tags = ["article", "section", "time", "header", "footer"];
        for (var i=0; i < html5_tags.length; i++) {
        document.createElement(html5_tags[i]);
        }
        }).call(this);

  body
    header.navbar
      .navbar-inner
        .container
          a#yp-brand.brand(href='/')
            img(src='/img/logo.png')
            span Engineering
          ul.nav.pull-right
            li
              a(target='_blank', href='http://www.youtube.com/user/yptechtalks') TechTalks
            li
              a(target='_blank', href='http://corporate.yp.com/careers/') Careers

    #hero
      .image-container
        img(src='http://i.imgur.com/G5aVQ.png')
      .caption
        span Hackathon 2012
        span.right Casual dress code

    // Main content 
    #site-content-body.container
      .row-fluid
        .pull-left.span9
          block content
        .pull-right.span3.sidebar
          h3 Filter By Category
          ul.categories
            li.tech
              a(href=tagUrl('tech')) #{'Tech'}
            li.product
              a(href='#') #{'Product'}
            li.culture
              a(href=tagUrl('culture')) #{'Culture'}
            li.people
              a(href='#') #{'People'}

          h3.contact Contact Us
          ul#social-networks.unstyled
            li
              i.icon-twitter
              a(target='_blank', href='https://twitter.com/YP') Twitter
            li
              i.icon-facebook
              a(target='_blank', href='https://www.facebook.com/YP') Facebook
            li
              i.icon-linkedin
              a(target='_blank', href='http://www.linkedin.com/company/yp') Linkedin
            li
              i.icon-github
              a(target='_blank', href='https://github.com/yp-engineering') Github

    // Footer
    footer#footer.footer
      .container
        p.pull-right
          a.back-to-top(href='#') Back to top
        ul.unstyled.pull-left
          li
            a(target='_blank', href='http://www.att.com/gen/privacy-policy?pid=2506') Privacy Policy
            | |
            a(target='_blank', href='http://corporate.yp.com/news/press-and-media/') Press and Media
            | |
            a(target='_blank', href='http://corporate.yp.com/careers/') Careers
            | |
            a(target='_blank', href='http://corporate.yp.com/about/contact-us/') Contact Us
          li © 2012 YP Intellectual Property, LLC. All rights reserved.

      script(src='http://code.jquery.com/jquery-1.8.1.min.js')
    - if (settings.env == 'development')
      script(src='/js/prettify.js')
      script(src='/js/ga.js')
      script(src='/js/app.js')
    - else
      script(src='/js/production.min.js')
